body{
}
.CourseHeader{
	width: 100%;
	background-color:  #ebebeb; 
	padding-top: 50px;
	color: #464646;
	margin-bottom: 0px;
}
.CourseHeader .Circle{
	width: 75px;
	height: 75px;
	background-color: #464646;
	margin:auto;
	border-radius:100px;
}
.CourseHeader h1{
	margin-bottom: 0px;
	font-weight: 400;
}
.CourseHeader p{
	margin-top: 3px;
	font-weight: 200;
}

.Links ul{
	margin-top: 40px;
	padding-bottom: 30px;
}
.Links li{
	list-style: none;
	display: inline;
	margin-right: 40px;
	cursor:pointer;
	padding-bottom: 4px;

}

.Chapter{
	width :80%;
	margin:auto;
	margin-top: 50px;
	vertical-align: middle;


}
.Box {
	border: solid 1px lightgrey;
	text-align: left;
	padding: 10px;
	display: inline-block;
	width: 80%;
	margin-right: 20px;
	vertical-align: middle;
}
.Box i{
	vertical-align: middle;
	float: right;
	cursor:pointer;
}
.Box span{
	vertical-align: middle;
	position: relative;
	top: 3px;
}
.addMaterial{
	width: 30px;
	height:30px;
	border-radius: 50px;
	border:none;
	cursor:pointer;
	background-color: #96d0e8;
	color:white;
	font-size: 20px;
	vertical-align: middle;

}
.addMaterial span{
	position: relative;
	bottom: 1px;
}
.addMaterial:hover{
	background-color: #78c2e3;
}
.addMaterial:active{
	outline: none;
}


.Materials li{
	list-style: none;
	margin-bottom: 5px;
	width:83%;
	vertical-align: middle;

}

.docName{
	display: inline;
	vertical-align: middle;
	cursor: pointer
}
 .docName:hover{
	text-decoration: underline;
}
.Chapter i {
	vertical-align: middle;
	margin-left: 10px;
	font-size: 30px;
	cursor: pointer;
}

.Detail{
	margin-top:50px;
	padding-left: 300px;
	text-align: left;

}

.Detail label{
	display: block;
	margin-top:20px;
	margin-bottom:10px;
}
.Detail input{
	text-align: left;
	display: inline-block;
}
.Detail span{
	vertical-align: middle;
	margin-left: 20px;
}
.slidecontainer {
	text-align: left;
	width:300px;
	display: inline-block;
	vertical-align: middle;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 25px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 200px%;
      -webkit-appearance: none;
      background-color: #d3d3d3;
      height:20px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 20px;
      -webkit-appearance: none;
      color: #4CAF50;
      margin-top: -1px;

    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 20px;
      cursor: pointer;
      background: #4CAF50;
      box-shadow: -210px 0 0 200px #4CAF50;
    }

}

.Detail .material-icons{
	vertical-align: middle;
	display:inline-block;
	font-size:80px !important;
	margin-left: 20px;
	  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	  -moz-transform: rotate(180deg);        /* FF */
	  -o-transform: rotate(180deg);          /* Opera */
	  -ms-transform: rotate(180deg);         /* IE9 */
	  transform: rotate(180deg);             /* W3C compliant browsers */
	}
.Detail .price{
	position:relative;
	right: 55px;
	text-align: center;
	margin:auto;
	color:white;
	display: inline-block;
}

.viewicon{
    display: inline;
    margin-left:40px;
    width:25px;
    height: 20px;
    position: relative;
    top:7px;
    cursor:pointer;
}