.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.navbar{
    background-color: white !important;
    height: 50px !important;
}
.navbarTitle{
    color: black;
}
body{
    color: #868f98
}
.Jumbotron{
    background-color: #868f98;
    width: 80%;
    margin:auto;
    text-align:left;
    padding: 20px;
    padding-bottom: 120px;
    font-size: 25px;
    font-weight: 600;
    color:white;
    margin-top: 40px;
}
.textInput {
    padding: 10px;
    width: 60%;
    border: solid 1px #c7c7c7;
    box-shadow: -2px 1px #c7c7c7;
    font-size: 14px;
}
.textInput::placeholder{
    color: #c7c7c7;
    opacity: 1; /* Firefox */
}
.textInput:focus{
    outline-color: #82ca9c
}

.BuildCourseForm .RadioInput label{
    display: inline;
    margin-Left: 3px;
    margin-Right:10px;
    font-weight: 100;
}
.BuildCourseForm .RadioInput label:first-child{
    font-weight: normal;
}
.searchCourse::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}
.courseSearch{
    margin:auto;
    padding:auto;
    margin-top: 30px;
    text-align: center;
    width: 60%;
    
    
}

.searchCourse:focus{
    outline:none;  
}

.searchCourse::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

.searchCourse::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}
.selectCategory:focus{
    outline:none
}
select option:disabled{
    color: grey
}

.BuildCourseForm label{
    display:block;
    color: #878e98;
    margin-bottom:5px;
}

.Instructions {
    color: #86909a;
    width:60%;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin:auto;
    margin-top: 20px;
}

.CategoryHeading{
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    margin-left: 100px;
    margin-top: 50px;
}

#TopFooter{
    height: 125px;
    background-color: #51565a;
    color:white;
    text-align:left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    width:100%;
}
#TopFooter h1{
    font-size: 15px;
    font-weight: normal;
}
#TopFooter p{
    font-size: 12px;
    font-weight: normal;
    margin-top:0px;
    margin-bottom:5px;
}
#BottomFooter{
    height:50px;
    color:white;
    background-color: #363a3d;
    width: 100%;
    display: block;
}
#BottomFooter .footerText{
   margin-left: 10px;
   vertical-align: middle;
}
#BottomFooter .material-icons{
    padding-top:10px;
    line-height: 20px;
}

.CourseDescriptionOuter{
    width: 500px;
    margin-left: 100px;
    text-align: left;
    margin-top: 40px;
    
}
.CourseDescriptionOuter h1{
    text-align: left;
    width:350px;
    font-size:20px;
    font-weight: 400;
    margin-bottom: 0px;
}
.CourseDescriptionOuter p{
    font-size: 15px;
    font-weight: 100;
}
.CourseDescriptionOuter hr{
    width:50px;
    text-align: left;
    margin-left:0px;
    margin-top: 10px;
}

.CourseTitleOuter{
    margin-top:40px;
    text-align: left;
    margin-left:100px;
}
.CourseTitleOuter h1{
    display:inline-block;
    margin-top:0px;
    margin-bottom: 5px;
    width: 250px;
    margin-left:40px;
    font-size: 40px;
    vertical-align: middle;
}
.CourseTitleOuter hr{
    border:solid 3px; 
    width: 50px;
    text-align: left;
    margin-left: 0px;
    margin-top:10px;
    color: #82ca9c;
}
.block{
    height:100px;
    width: 100px;
    background-color: grey;
    display:inline-block;
    vertical-align: middle;
}

.PurchaseButtons{
    display: inline-block;
    position:absolute;
    top: 100px;
    right: 100px;
}
.PurchaseButtons button{
    display: block;
    width: 170px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #82ca9c;
    color:white;
    font-size: 15px;
    cursor:pointer;
    font-weight: 300;
}