.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
html{
      height: 100%;
        box-sizing: border-box;
}
.navbar{
    background-color: white !important;
    height: 50px !important;
}
.navbarTitle{
    color: black;
}
.error{
    color:red;
}
body{
    color: #868f98;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: #eee;
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.Jumbotron{
    background-color: #868f98;
    width: 80%;
    margin:auto;
    text-align:left;
    padding: 20px;
    padding-bottom: 120px;
    font-size: 25px;
    font-weight: 600;
    color:white;
    margin-top: 40px;
}
.textInput {
    padding: 10px;
    width: 60%;
    border: solid 1px #c7c7c7;
    box-shadow: -2px 1px #c7c7c7;
    font-size: 14px;
}
.textInput::placeholder{
    color: #c7c7c7;
    opacity: 1; /* Firefox */
}
.textInput:focus{
    outline-color: #82ca9c
}
 .small{
    width: 20%;
    padding:6px;
}
.BuildCourse{
    background-color: white;
    padding: 50px;
    width: 80%;
    margin: auto;
    margin-top: 70px;

}
.BuildCourseForm .RadioInput label{
    display: inline;
    margin-Left: 3px;
    margin-Right:10px;
    font-weight: 100;
}
.BuildCourseForm .RadioInput label:first-child{
    font-weight: normal;
}
.searchCourse::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}
.courseSearch{
    margin:auto;
    padding:auto;
    margin-top: 30px;
    text-align: center;
    width: 60%;
    
    
}

.searchCourse:focus{
    outline:none;  
}

.searchCourse::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

.searchCourse::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}
.selectCategory:focus{
    outline:none
}
select option:disabled{
    color: grey
}

.BuildCourseForm label{
    display:block;
    color: #878e98;
    margin-bottom:5px;
}

.Instructions {
    color: #86909a;
    width:60%;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin:auto;
    margin-top: 20px;
}

.CategoryHeading{
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    margin-left: 100px;
    margin-top: 50px;
}
#Footer{
    margin-top: 175px;
}
#TopFooter{
    height: 125px;
    background-color: #51565a;
    color:white;
    text-align:left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    width:100%;
    position: absolute;
    bottom:0;
    box-sizing:border-box;
}
#TopFooter h1{
    font-size: 15px;
    font-weight: normal;
}
#TopFooter p{
    font-size: 12px;
    font-weight: normal;
    margin-top:0px;
    margin-bottom:5px;
}
#BottomFooter{
    height:50px;
    color:white;
    background-color: #363a3d;
    width: 100%;
    display: block;
    position: absolute;
    bottom:0;
}
#BottomFooter .footerText{
   margin-left: 10px;
   vertical-align: middle;
}
#BottomFooter .material-icons{
    padding-top:10px;
    line-height: 20px;
}
.Section{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    padding: 20px;

}
.CourseDescriptionOuter{
    width: 50%;
    margin-left: 100px;
    text-align: left;
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    color: #52575b;


}
.CourseDescriptionOuter h1{
    text-align: left;
    width:350px;
    font-size:25px;
    font-weight: 300;
    margin-bottom: 0px;
    color: #52575b;

}
.CourseDescriptionOuter p{
    font-size: 15px;
    font-weight: 100;
}
.Section hr{
    width:50px;
    text-align: left;
    margin-left:0px;
    margin-top: 10px;
    color: #52575b
}

.CourseTitleOuter{
    margin-top:40px;
    text-align: left;
    margin-left:100px;
    color: #52575b
}
.CourseTitleOuter h1{
    display:inline-block;
    margin-top:0px;
    margin-bottom: 5px;
    width: 250px;
    margin-left:40px;
    font-size: 40px;
    vertical-align: middle;
}
.CourseTitleOuter hr{
    border:solid 3px; 
    width: 50px;
    text-align: left;
    margin-left: 0px;
    margin-top:10px;
    color: #82ca9c;
}
.block{
    height:100px;
    width: 100px;
    background-color: #868f98;
    display:inline-block;
    vertical-align: middle;
}

.PurchaseButtons{
    display: inline-block;
    position:absolute;
    top: 100px;
    right: 100px;
}
.PurchaseButtons button{
    display: block;
    width: 170px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #82ca9c;
    color:white;
    font-size: 15px;
    cursor:pointer;
    font-weight: 300;
}

.Instruction p{
    margin-bottom: 10px;
}

.CourseOverview{
    width: 20%;
    display: inline-block;
    position: absolute;
    top: 250px;
    right: 100px;
    text-align: left;
    color: #52575b;

}
.CourseOverview h1{
    font-weight: 300;
    font-size: 25px;
}


@media only screen and (max-width: 1000px) {
    .CourseOverview{
        display: block;
        position: static;
        width: 50%;
        margin-left: 100px;
        text-align: left;
        margin-top: 40px;
    }
    .PurchaseButtons{
        display: block;
        position: static;
        text-align: left;
        margin-left: 100px;
        margin-top: 20px;
    }
}

.forgotPassword{
    margin-top:30px;
    display: block;
}

.CourseCard{
    
}

.CourseCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0,10,0,0.2);
}

.MediumMargin{
    margin: 50px;
}