.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.navbar{
    background-color: white !important;
    height: 50px !important;
}
.navbarTitle{
    color: black;
}

.Jumbotron{
    background-color: #868f98;
    width: 80%;
    margin:auto;
    text-align:left;
    padding: 20px;
    padding-bottom: 120px;
    font-size: 25px;
    font-weight: 600;
    color:white;
    margin-top: 40px;
}

.courseSearch{
    margin:auto;
    padding:auto;
    margin-top: 30px;
    text-align: center;
    width: 60%;
    
}

.searchCourse:focus{
    outline:none;  
}

.searchCourse::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

.searchCourse::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}
.selectCategory:focus{
    outline:none
}
select option:disabled{
    color: grey
}